@charset "UTF-8";

/* 共通部分
----------------------------*/

html {
    font-size:  100%;
}
body{
        font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
        color:  #8b0304;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #0bd;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
a {
   text-decoration: none;
}
img {
    max-width: 100%;
}
.logo{
    width: 210px;
    margin:-top: 14px;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
/* home
---------------------------- */
.home-content{
    text-align: center;
    margin-top: 10%;
}
.home-content p{
    font-size: 2.50rem;
    font-weight: bold;
    margin: 10px 0 42px;
}
/* 見出し */
.page-title{
    font-size: 5rem;
    font-family: `philosopher`, serif;
    text-transform: uppercase;
    font-weight: normal;
}
/*ボタン*/
.button{
　　 font-size: 1.375rem;
     color: #fff;
     border-radius: 5px;
     padding: 18px 32px;
}
.button:hover{
    background: #0090aa;
}
#home{
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
}
/* menu
----------------------------*/
#menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
}
.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
}

/* Contact
-------------------------------- */
#contact{
    color: #8b0304;
    font-weight: bolder;
    font-size: 2rem;
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
    background-size: cover;
}
/* フォーム */
form div{
    margin-bottom: 14px;
}
label {
     font-size: 1.125rem;
     margin-bottom: 10px;
     display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}
